body {
  color: red;
  font-size: 30px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  cursor: url("../img/hammer.png"), auto;
}

.square {
  border: white solid 1px;
  background-color: black;
  width: 100px;
  height: 100px;
}
